<div class="container">
    <div class="title">Cập nhật học sinh </div>
    <div class="content">
        <form [formGroup]="studentForm" (ngSubmit)="edit()">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Tên sv</span>
                    <input type="text" [(ngModel)]="input.name" formControlName="name">
                </div>
                <div class="input-box">
                    <span class="details">Tuổi</span>
                    <input type="number" [(ngModel)]="input.age" formControlName="age">
                </div>
                <div class="input-box">
                    <span class="details">Giới tính</span>
                    <select class="form-select" [(ngModel)]="input.gender" formControlName="gender">
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                    </select>
                </div>
                <div class="input-box">
                    <span class="details">Trường</span>
                    <select class="form-select" [(ngModel)]="input.school" formControlName="school">
                        <option value="">-----Chọn trường-----</option>
                        <option *ngFor="let item of schoolList" [ngValue]="item.name">{{item.name}}</option>
                    </select>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Save">
            </div>
        </form>
    </div>
</div>