<div class="container">
    <div class="title">Thêm mới trường </div>
    <div class="content">
        <form [formGroup]="classForm" (ngSubmit)="edit()">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">ID</span>
                    <input type="text" [(ngModel)]="input.id" formControlName="id" readonly>
                    <!-- <p style="color:red" *ngIf="classForm.controls.name.hasError('required') && contractForm.controls.name.touched"> Is not blank</p> -->
                </div>
                <div class="input-box">
                    <span class="details">Tên trường</span>
                    <input type="text" [(ngModel)]="input.name" formControlName="name">
                    <!-- <p style="color:red" *ngIf="classForm.controls.name.hasError('required') && contractForm.controls.name.touched"> Is not blank</p> -->
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Save">
            </div>
        </form>
    </div>
</div>