<h1>Danh sách học sinh</h1>
<a routerLink="/student/add" class="btn btn-success" role="button">Thêm mới </a>

<table class="table">
  <thead>
    <tr>
      <th>STT</th>
      <th>Tên</th>
      <th>Tuổi</th>
      <th>Giới tính</th>
      <th>Trường</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of studentsList | paginate: { itemsPerPage: 5, currentPage: page } ;, index as i">
      <td>{{i + 1}}</td>
      <td>{{item.name}}</td>
      <td>{{item.age}}</td>
      <td>{{item.gender}}</td>
      <td>{{item.school}}</td>
      <td><a [routerLink]="['/student/edit',item.id]" class="btn btn-success" role="button">Edit</a></td>
      <td>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"
          (click)="showDelete(item.id)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="container-fluid mt-3">
  <div class="pagination float-end">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Do you want delete id: {{idDelete}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="delete()">Yes</button>
      </div>
    </div>
  </div>
</div>