<div class="container">
    <div class="title">Thêm mới trường </div>
    <div class="content">
        <form [formGroup]="schoolForm" (ngSubmit)="submit()">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Tên trường</span>
                    <input type="text" [(ngModel)]="input.name" formControlName="name">
                </div>
                <div class="input-box">
                    <span class="details">Lớp</span>
                    <select class="form-select" [(ngModel)]="input.className" formControlName="className">
                        <option value="">-----Chọn lớp-----</option>
                        <option *ngFor="let item of classList" [ngValue]="item.name">{{item.name}}</option>
                    </select>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Save">
            </div>
        </form>
    </div>
</div>